<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>library-checker-testcases</title>
</head>
<body>
    <p>巨大なファイルの読み込みは出来ない場合がございます。<br>その場合はお手数おかけしますが、<a href="https://hotman78.hatenablog.com/entry/2020/06/18/085018">ブログ記事</a>を参考に手元で生成してください。</p>
    {% for key,val in problems.items() %}
        <h1> {{ key }} </h1><br>
        {% for problem in val %}
            <a href="{{ key }}/{{ problem }}.html">{{ problem }}</a><br>
        {% endfor %}
    {% endfor %}
</body>
