<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>library-checker-testcases</title>
</head>
<body>
    <div style="border: 3px solid #ff4d4d; background-color: #ffe6e6; color: #d60000; padding: 20px; margin: 10px 0 30px 0; font-weight: bold; font-size: 18px; border-radius: 8px;">
        すみません．google cloud run の請求金額少し大きくなっちゃったんで library checker testcases のバックエンド止めます．将来の自分がいい感じに最適化するか，お金持ちになるのをお待ちください．
    </div>
    <p>巨大なファイルの読み込みは出来ない場合がございます。<br>その場合はお手数おかけしますが、<a href="https://hotman78.hatenablog.com/entry/2020/06/18/085018">ブログ記事</a>を参考に手元で生成してください。</p>
    {% for key,val in problems.items() %}
        <h1> {{ key }} </h1><br>
        {% for problem in val %}
            <a href="{{ key }}/{{ problem }}.html">{{ problem }}</a><br>
        {% endfor %}
    {% endfor %}
</body>
</html>
