<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>library-checker-testcases</title>
</head>
<body>
    <a href="../">top</a><br><br>
    {% for testcase in testcases %}
        <a href="https://lc-api.hotman78.com/api/{{ dir }}/in/{{ testcase }}.in">{{ testcase }}.in</a> 
        [<a href="https://lc-api.hotman78.com/api/{{ dir }}/in/{{ testcase }}.in?dl=true">dl</a>] |
        <a href="https://lc-api.hotman78.com/api/{{ dir }}/out/{{ testcase }}.out">{{ testcase }}.out</a>
        [<a href="https://lc-api.hotman78.com/api/{{ dir }}/out/{{ testcase }}.out?dl=true">dl</a>] <br>
    {% endfor %}
</body>
